/* task 1 */
.animals-section {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.card-animal {
    width: 20%;
    height: auto;
    background-color: rgba(156, 228, 172, 0.897);
    border: 4px double #6e2565;
    margin: 10px 10px;
    padding: 10px 10px 25px;
    text-align: center;
}

.name-animal {
    color: rgb(190, 95, 11);
}

.age-animal {
    font-weight: bold;
}

.color-animal {
    font-style: italic;
}

.passport, .vaccinations {
    font-size: small;
    color: rgb(3, 20, 75);
}

/* task 2 */
.table {
    margin: 5rem auto;
    width: 50%;
    border-collapse: collapse;
}

td {
    padding: 1.2rem;
    border: 1.5px solid #000000;
    text-align: center;
}
   
.row-thead {
    padding: 1.2rem;
    border: 1.5px solid #000000;
    font-weight: bold;
}
   
.table tr:nth-child(2n+1) td {
    background: #ede7f6;
}

.table tr:first-child td {
    background-color: #b39ddb;
}

/* task 3 */
#field-table {
    margin: 1rem auto;
    border-collapse: collapse;
}

.date-field-table {
    width: 5rem;
    height: 5rem;
    border: 1px solid #000000;
    background-color: rgb(250, 128, 114);
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color:rgb(10, 66, 248);
    margin: 0;
    padding: 0;
}